<div>
	<ul id="nav">
		<li id="homepage">
			<%= link_to :root do%>
				<%= image_tag("fam_crest.svg", id: "fam_crest") %>
				<span>Lindsey Sugino</span>
			<% end %>
		</li>
		<li id="pad_right"><%= link_to "Contact", :contact %></li>
		<li><%= link_to "Projects", :projects %></li>
		<li><%= link_to "Resume", :resume %></li>
		<li><%= link_to "About", :about %></li>
	</ul>
</div>