<div>
	<ul id="nav">
		<li class="bold" id="homepage">
			<%= link_to :root do%>
				<%= image_tag("fam_crest.svg", id: "fam_crest") %>
				<span>Lindsey Sugino</span>
			<% end %>
		</li>
		<li class="toggle_hide" id="pad_right"><%= link_to "Contact", :contact %></li>
		<li class="toggle_hide"><%= link_to "Projects", :projects %></li>
		<li class="toggle_hide"><%= link_to "Resume", :resume %>
			<ul>
				<li><a href="/programming">
					<span>Programming</span></a>
				</li>
				<li><a href="/marketing">
					<span>Marketing</span></a>
				</li>
			</ul>
		</li>
		<li class="toggle_hide"><%= link_to "About", :about %></li>
	</ul>
</div>