<div class="content">
	<h1 class="title fadeInLeft animated">LINDSEY SUGINO <span class="job">{web developer}</span></h1>

	<ul id="sdt_menu" class="sdt_menu">
		<li>
			<a href="about">
				<%= image_tag("ls.jpg") %>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">About me</span>
					<span class="sdt_descr">Get to know me</span>
				</span>
			</a>
		</li>

		<li>
			<a href="#">
				<%= image_tag("resume.jpg") %>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Resume</span>
					<span class="sdt_descr">My experiences</span>
				</span>
			</a>
			<div class="sdt_box">
					<a href="#">Programming</a>
					<a href="#">Marketing</a>
			</div>
		</li>
		
		<li>
			<a href="#">
				<%= image_tag("code.png") %>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Projects</span>
					<span class="sdt_descr">I like to code</span>
				</span>
			</a>
			<div class="sdt_box">
				<a href="#">GitHub</a>
			</div>
		</li>

		<li>
			<a href="#">
				<%= image_tag("blog.png") %>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Blog</span>
					<span class="sdt_descr">I write things</span>
				</span>
			</a>
		</li>

		<li>
			<a href="#">
				<%= image_tag("twitter2.png") %>
				<span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Contact Me</span>
					<span class="sdt_descr">I'm friendly</span>
				</span>
			</a>
			<div class="sdt_box">
				<a href="#"><span id="email_icon"></span>Email</a>
				<a href="#"><span id="twitter_icon"></span>Twitter</a>
				<a href="#"><span id="linkedin_icon"></span>Linkedin</a>
			</div>
		</li>
	</ul>
</div>
        
		